<div class="w-100 form-body">
  <form (ngSubmit)="sendMessage()" [formGroup]="chatForm">
    <div class="input-group mb-3">
      <input type="text" class="form-control"
             placeholder="Enter message here"
             formControlName="message"
             aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary"
                type="submit"
                [disabled]="!this.chatForm.valid">
          Send
        </button>
      </div>
    </div>

  </form>
</div>
