<div class="w-100 form-body">
  <form (ngSubmit)="sendMessage()" [formGroup]="chatForm">
    <div *ngIf="chances == 0" style = "color: cornflowerblue; font-size: xx-large"> Please solve a puzzle to unlock input box!</div>
    <div class="input-group mb-3" *ngIf="chances > 0">
      <input type="text" class="form-control"
             placeholder="You got {{this.chances}} times to send message!"
             formControlName="message"
             aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary"
                type="submit"
                [disabled]="!this.chatForm.valid || this.chances<=0">
          Send
        </button>
      </div>
    </div>
  </form>
</div>
