<app-top-nav [back]="'/'" [title]=" this.opponent?.username ||  'Shady Individual' ">
</app-top-nav>

<div class="d-flex flex-row">
    <div class="w-50">
        <app-chat [chatChances] = "this.chatChances" (countConsumed)="this.consumeChances($event)" *ngIf="opponent" [opponent]="this.opponent"></app-chat>
    </div>

    <div class="w-50">
        <app-ascii-game (countChanged)="this.setChances($event)" [chatChances]="chatChances" ></app-ascii-game>
    </div>
  <div class="w-25">
  </div>
</div>

