@import './variables.scss';
div{
  font-family: $fancy-font;
}

button{
  font-family: $fancy-font;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.chat-item:focus{
  border: 0 solid;
  outline-style: none;

}
.hand-cursor {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: $second-color !important;
}

a {

  color: $theme-color !important;
}


.dot {
  height: 1rem;
  width: 1rem;
  background-color: $theme-color;
  border-radius: 50%;
  display: inline-block;
}
