/* You can add global styles to this file, and also import other style files */
$fancy-font: "JF Flat Regular";
$theme-color: #52b9de;
$second-color: #32a852;
$common-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

div{
  font-family: $fancy-font;
}

button{
  font-family: $fancy-font;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
